$blanco: #ffffff;
$azuloscuro: #2a3037;
$gris: #ebebeb;
$negroOpac: #00000029;
$azulGris: #7a838d;
$rosa: #fa6980;
$azulRelax: #cbd0d3;
$negro: #202124;

:export {
  blanco: blanco;
  azuloscuro: azuloscuro;
  gris: gris;
  negroOpac: negroOpac;
  azulGris: azulGris;
  rosa: rosa;
  azulRelax: azulRelax;
  negro: negro;
}
