$white: #ffffff;
$darkblue: #2a3037;
$grey: #ebebeb;
$blackOpac: #00000029;
$greyBlue: #7a838d;
$pink: #fa6980;
$blueRelax: #cbd0d3;
$black: #202124;

:export {
  white: white;
  darkblue: darkblue;
  grey: grey;
  blackOpac: blackOpac;
  greyBlue: greyBlue;
  pink: pink;
  blueRelax: blueRelax;
  black: black;
}
