$white: #ffffff;
$whiteOpac: rgb(255, 255, 255, 50%);
$darkblue: #2a3037;
$darkblueOpac: #2a303780;
$grey: #ebebeb;
$blackOpac: #00000029;
$greyBlue: #7a838d;
$pink: #fa6980;
$blueRelax: #cbd0d3;
$black: #202124;

:export {
  white: $white;
  whiteOpac: $whiteOpac;
  darkblue: $darkblue;
  darkblueOpac: $darkblueOpac;
  grey: $grey;
  blackOpac: $blackOpac;
  greyBlue: $greyBlue;
  pink: $pink;
  blueRelax: $blueRelax;
  black: $black;
}
